@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC:wght@400;700&family=Josefin+Slab:wght@300;400;500;700&display=swap');
/* 
font-family: 'Allura', cursive;
  (for h1)
  Regular 400

font-family: 'Amatic SC', cursive;
  (for other headers)
  Regular 400
  Bold 700

font-family: 'Josefin Slab', serif;
  (for body text)
  Light 300
  Regular 400
  Medium 500
  Bold 700
*/

* {
  box-sizing: border-box;
}

:root {
  --light-green: #00fa71;
  --medium-green: #0db300;
  --medium-green-muted: #00b24d;
  --dark-green: #005d2a;
  --sky-blue: #1E88E5;
  --sky-blue-bright: dodgerblue;
  --dark-blue: #2a005d; 
  --bright-orange: #FE7309;
  --bubblegum: #F6509D;
  --purplish: #a600b2;
  --red-wine: #5c0032;

  /* https://coolors.co/eaeaea-cbc5ea-73628a-313d5a-183642 */
  --platinum: #EAEAEA;
  --lavendar-blue: #CBC5EA;
  --french-lilac: #73628A;
  --space-cadet: #313D5A;
  --gunmetal: #183642;

  /* https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
  --navy-blue: #03045eff;
  --dark-cornflower-blue: #023e8aff;
  --star-command-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --cerulean-crayola: #00b4d8ff;
  --sky-blue-crayola: #48cae4ff;
  --sky-blue-crayola-2: #90e0efff;
  --blizzard-blue: #ade8f4ff;
  --powder-blue: #caf0f8ff;
}

body {
  display: grid;  /* for "sticky footer" */
  grid-template-rows: auto 1fr auto; /*  for "sticky footer" */
  min-height: 100vh;
  color: var(--red-wine);
  font-family: 'Josefin Slab', serif;
}

.hidden {
  display: none;
}

header {
  /* padding: 2rem 0; */
  background-color: var(--gunmetal);
  text-align: center;
}

header h1 {
  margin: 0.5em 0;
  padding: 0 2rem;
  font-family: 'Allura', cursive;
  /* font-family: 'Dancing Script', cursive; */
  font-size: 92px;
  letter-spacing: 1px;
  color: var(--lavendar-blue);
}

header .food-icons {}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 64px;
}

footer {
  margin-top: 4rem;
  padding: 2rem 0;
  color: #fff;
  text-align: center;
  background-color: var(--dark-green);
}

.search-box {
  padding: 2rem 0;
  text-align: center;
  background-color: var(--platinum);
}

.js-recipe-search-form {
  margin: 0 1rem;
}

#js-search-input {
  /* width: 320px; */
  height: 3rem;
  margin-bottom: 16px;
  padding: 0.5em;
  font-size: 24px;
  border: 1px solid var(--space-cadet);
  /* border-radius: 0; */
}

.btn { /* default button styles */
  border: 1px solid var(--space-cadet);
  /* color: var(--red-wine); */
  /* border-radius: 0.25rem; */
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
  will-change: background;
}

.btn:hover {}

.btn.hover-color-transition {
  transition-property: background; /* should this be more specific to "background-color"? */
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.btn.search {
  height: 3rem;
  margin-top: 1px; /* hack for Chrome to align button with search input */
  padding: 0 1rem;
  font-size: 24px;
  font-family: inherit;
  background-color: var(--sky-blue-crayola-2);
  color: var(--navy-blue);
}

.btn.search:hover {
  background-color: var(--blizzard-blue);
}

/* .btn.nutrition-info {
  background-color: var(--space-cadet);
  color: var(--platinum);
}

.btn.nutrition-info:hover {
  background-color: var(--purplish);
} */

.btn.recipe-link {
  background-color: var(--sky-blue-crayola-2);
  color: var(--dark-cornflower-blue);
}

.btn.recipe-link:hover {
  background-color: var(--powder-blue);
}

p.app-use-instruction {
  padding: 0 2rem;
  margin-top: 0;
  font-size: 24px;
}

.results-box h2 {
  margin-top: 0;
  text-align: center;
}

.error-message-container {
  height: 6rem;
  /* margin-bottom: 2rem; */
  padding: 2rem 0;
  text-align: center;
  font-size: 20px;
  color: var(--medium-green);
}

#js-error-message-box {
  will-change: ;
}

.button-container {
  text-align: center;
}

#js-recipes-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

#js-recipes-list li {
  flex: 1;
  margin: 2rem;
  list-style: none;
  text-align: center;
}

.result-image {
  width: 320px;
  border-radius: 40px;
}

.spoonacular-attribution a {color: #fff}

@media screen and (min-width: 720px) {
  .button-container {
    text-align: left;
  }
  #js-recipes-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
